@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
  
}

.debug {
  border: 1px solid blue;
}

.main-content{
  display: flex;
  height: 100vh; /* Medida relativa HTML: meta name="viewport"*/
  width: 100vw; /* Medida relativa HTML: meta name="viewport"*/
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover{
  transform: scale(1.2);}

aside {
  width: 241px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

main {
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

header {
  height: 65px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

footer {
  height: 105px;
  background-color: #121212;
}

.header-bottons {
  display: flex;
  gap: 16px;
}

.sing-up {
  color: #a7a7a7;
}

.log-in {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 32.375px 15px 32px;

  width: 109.38px;
  height: 48px;

  background: #ffffff;
  border-radius: 500px;
}

.log-in > span {
  color: black;
}

.auth {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: bold;
  font-size: 15px;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-row: 50% 50%;
  padding: 24px 32px;
  gap: 40px;
}

.playlist-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.playlist-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-section-header > h1 {
  font-size: 20;
  font-weight: bold;
}

.playlist-section-header > span {
  font-size: 13px;
  color: #b3b3b3;
}

.playlist-section-container {
  display: flex;
  gap: 24px;
  width: 80vw;
  overflow-x: auto;
}

.navegation-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 0px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 15px;
  background-color: #191919;
  border-radius: 6px;
  width: 181px;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
}

.card-descrip {
  font-size: 13px;
  color: #a7a7a7;
}

.playlist-section-container-image {
  filter: drop-shadow(0px 8px 24px #000000b2);
}